{% extends "baseBS4.html" %}

    {% load crispy_forms_tags %}
    
    {% block title %}
        Contact {{ pers.firstname }} {{ pers.name }}
    {% endblock %}
    
    {% block navtitle %}
        Contact {{ pers.firstname }} {{ pers.name }}
    {% endblock %}

    {% block header %}
        {% if messages %}
            {% for message in messages %}
                <h1>{{message}}</h1>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block content %}

    <form method="post" action="/contacts/edit/{{pers.pk}}">
    {% csrf_token %}
    <div class="row">
          <div class="col-6">
            {{ form.firstname|as_crispy_field }}
          </div>
          <div class="col-6">
                {{ form.name|as_crispy_field }}
          </div>
          <div class="col-12">
                {{ form.email|as_crispy_field }}
          </div>
          <div class="col-12">
            {{ form.message|as_crispy_field }}
          </div>
        </div>
        <button type="submit" class="btn btn-success">
            Save Contact
        </button>
    </form>

    {% endblock %}