<!doctype html>

{% load static %}

<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block styles %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="icon" sizes="32x32" href="{% static 'favicon-32.png' %}" type="image/png">
    <link rel="icon" sizes="64x64" href="{% static 'favicon-64.png' %}" type="image/png">
    <link rel="icon" sizes="96x96" href="{% static 'favicon-96.png' %}" type="image/png">
    <link rel="icon" sizes="196x196" href="{% static 'favicon-196.png' %}" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-touch-icon-144x144.png' %}">
    <meta name="msapplication-TileImage" content="{% static 'favicon-144.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <link rel="icon" href="{% static 'animated_favicon.gif' %}" type="image/gif">

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    {% endblock %}
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <h2> {% block navtitle %}{% endblock %} </h2>
    </nav>
    {% endblock %}
    <main role="main" class="container top-pushed">
        <div class="jumbotron">
            {% block header %}{% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% block js %}
    <script src="{% static 'node_modules/jquery-slim/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script>

    {% endblock %}
</body>

</html>